@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for the chatbot */
#fastbots-chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it stays on top of other elements */
  }